---

# **IEEE Unlock Xtreme 15.0** series

Organised by the IEEE student branch at the University of Melbourne

<img src="../static/IEEE.png" alt="IEEE" style="height: 100px;"/> <img src="../static/IEEE UniMelb SB Logo_Black.png" alt="IEEE student branch, The University of Melbourne" style="height: 100px;"/>

---

# Introduction to programming with **Python** 

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sina-mansour/IEEE_Unlock_Xtreme_15/blob/main/notebooks/Introduction_to_programming_with_Python.ipynb)

---

## 00. Introduction to Python programming

---

<img src="../static/Python_logo.png" alt="Python" style="width: 200px;"/>

A popular programming language used in a variety of applications (web-development, data analysis, machine learning, etc.).

---

#### Python can ...

- Be used as a web-server.
- Run scripts for automation and create workflows.
- Connect to & manage databases.
- Read and modify files.
- Handle big data and perform complex math.
- Perform data analyses.
- Rapid software prototyping.

---

#### Why Python?

- Works on different platforms.
- Simple syntax similar to english.
- Lets the programmer write programs with fewer lines of code.
- Quick prototyping platform.
- Flexible language, i.e. can be used in many ways.

---

#### Which Python?

- We’ll use Python3.
- You can use it online for this tutorial...
- An IDE is recommended for constant use: [PyCharm](https://www.jetbrains.com/pycharm/), [IDLE](https://docs.python.org/3/library/idle.html), [Thonny](https://thonny.org/), [PyDev](https://www.pydev.org/), ...
- In addition to the colab platform, feel free to try out [this online python compiler](https://replit.com/languages/python3) before installation.

---

## 1. Fundamentals of Python programming

---

---

### 1.01 Hello World!

The first step to learn any programming language is to print something to the screen!

You can use the `print()` function in python to do that.

In [ ]:
print("Hello, World!")

---

### 1.02 Read user input

Next, you may want to ask the user for some input.

You can use the `input()` function in python to do that.

In the cell bellow, you can try reading an input, and printing it on the screen:

In [ ]:
print(input())

When is that ever going to be useful?

Take a look at the code bellow, can you guess what it does?

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

---

### 1.03 Writing comments

As you might have exprienced this for a moment when trying to figure out what the code snippet above did, programmin code is not always human readable.

That's why, we humans need to (read have to!) write helpful comments to make our code more readable.

Python ignores anything written after a `#`. So you can use this functionality to describe your code for other people who'll read it.

Take a look at the example bellow:

In [ ]:
# store username from user input
username = input("Enter username:")

# print the stored username
print("Username is: " + username)

---

### 1.04 Variables

A *variable* is a way to store something in memory for later use. We've seen examples of variables in previous bits of code that we've looked at.

You simply give a variable a name and **assign** some value to it using the `=` operator. After assignment, every time you **call** that variable, the stored value will be returned.

Here we used a variable named `username` to store the user's input for later use:

In [ ]:
# store username from user input
username = input("Enter username:")

Here are a few more examples of assigning a variable:

In [ ]:
# variable assignment using =

x = 5
y = "Sina"

You can use the stored variables later:

In [ ]:
print(x,y)

---

### 1.05 Python Data types

In python stored variables can have different *types*. For example if you want to store someone's name (a piece of text) the type of that variable is going to be different from when you want to store their age (a number).

Here is a list of some of the fundamental python data types that you may commonly want to use:

| Data stored | Data types | Example |
| --- | --- | --- |
| Text | `str` | `"Hello"` |
| Numeric | `int, float, complex` | `2.5` |
| Boolean | `bool` | `True` |
| Sequence | `list, tuple, range` | `[1, 2, 3]` |
| Key Value pair | `dict` | `{"name": "John Doe", "age": 25}` |
| Set | `set` | `{"apple", "banana", "kiwi"}` |

In [ ]:
# str
a = "hello"

# int
b = 2

# float
c = 3.4

# bool
d = True
e = False

You can use the `type()` function to check the data type of a variable:

In [ ]:
# checking a variable’s data type:

print(type(a))

---

### 1.06 Casting variables

**Casting** is the term used for specifying/forcing a type for a variable.

Functions `int()`, `float()`, and `str()` are some example casting functions which force their input to be stored as the specified type.

Take a look at the examples below:

In [ ]:
# casting a variable to int:

x = int(1)				# x will be 1
y = int(2.8)			# y will be 2
z = int("3")			# z will be 3

In [ ]:
# casting a variable to float:

x = float(1)			# x will be 1.0
y = float(2.8)			# y will be 2.8
z = float("3")			# z will be 3.0
w = float("4.2")		# w will be 4.2

In [ ]:
# casting a variable to string:

x = str("s1") 			# x will be 's1'
y = str(2)    			# y will be '2'
z = str(3.0)  			# z will be '3.0'

In the cell bellow, try modifying the code where needed to take someone's age and compute their age:

(hint: You can use casting to convert a string of text into an integer)

In [ ]:
# sample application of casting:
# ask a user their birth year, tell them their age!

# read birth year from user input
birth_year = input("What year were you born?")

# cast the input into an integer
birth_year_int = int(birth_year)

# compute their age
age = 2021 - birth_year_int

# Print their age
print("You should be about " + str(age) + " years old now!")

---

### 1.07 Strings

Let's have a closer look at the `str` data type, and what we can do with it.

Strings can either be defined with `'` or `"`. Take a look at the example below:

In [ ]:
# strings store an ordered list of characters:

print('Hello')
print("Hello")

You can define a multiline string by using `"""`:

In [ ]:
# storing a multiline string:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

- indexing

You can index into a string to print a single character from that string. Simply use `[]` for indexing:

In [ ]:
# indexing into a string to get a single character:

a = "Hello, World!"
print(a[1])

You may also use the indexing syntax to get a subset of the string:

In [ ]:
# subset of characters counting from start, position 2 to 5:
print(a[2:5])

In [ ]:
# subset of characters counting from the end, from 5th to 2nd to the end:
print(a[-5:-2])

- functions for strings

You can use the `len()` function to get the length of a string type variable:

In [ ]:
print(len(a))

Python has some string manipulation functions, some of which are explained here:

In [ ]:
a = "   Hello, World!   "

`strip()` can be used to remove white space from around a string:

In [ ]:
print(a.strip())			# returns "Hello, World!"

`lower()` can be used to convert all characters to lower case:

In [ ]:
print(a.lower())		# returns "   hello, world!   "

`upper()` can be used to convert all characters to upper case:

In [ ]:
print(a.upper())		# returns "   HELLO, WORLD!   "

`replace()` can be used to replace all instances of a character in the string with a replacement character:

In [ ]:
print(a.replace("l", "J"))	# returns "   HeJJo, WorJd!   "

`split()` can be used to split a string into a list of substrings divided by a certain delimeter:

In [ ]:
print(a.split(","))		# returns ['   Hello', ' World!   ']

`in` can be used to check if a substring exists in another string:

In [ ]:
print('ello' in a)			# returns True

In [ ]:
print('allo' in a)			# returns False

`+` operator can be used to concatenate multiple strings:

In [ ]:
# string concatenation:

a = "Hello"
b = "World"
print(a + " " + b)		# returns 'Hello World!'

- string formatting

String formatting refers to the process of creating a string variable that contains other data types.

One way to implement string formatting is by combining casting and concatenation:

In [ ]:
# string formatting (inserting numerals):
x = 5

# inserting with casting:
print("I have " + str(x) + " apples")

However, you could use the `format()` function which provides an easier implementation:

In [ ]:
# string formatting (inserting numerals):
x = 5
y = 10

# inserting with string format method:
print("I have {} apples".format(x))
print("I have {} apples and {} oranges".format(x, y))

- Character escaping

If you'd like to insert a special character in a python string, you need to use proper character escaping:

Special characters:

`\’	\”	\\	\n	\t`

---

### 1.08 Booleans

In programming, a common practice is use of logical *expressions*. These *expressions* are basically questions which have a yes/no answer.

The answer of these yes/no questions can guide the strategy we want to implement in our code.

For example, you may want to read a user's input. Then check if it's valid (yes/no). If the input is valid or not, your strategy of what to do after that point changes.

The output of this yes/no answers are normally stored in **Boolean** variables.

In Python's language, a boolean variable is either `True` or `False`.

- equality/inequality

The question of equality of two variables, is an example of a boolean yes/no question:

In [ ]:
# Let's store two numbers inside variables

a = 10
b = 20

In [ ]:
# check if variables are equal:
print(a == b)		# False

In [ ]:
# check if one is lesser:
print(a < b)		# True

In [ ]:
# check if one is greater:
print(a > b)		# False

In [ ]:
# check if variables are not equal:
print(a != b)		# True

In [ ]:
# check if one is lesser or equal:
print(a <= b)		# True

In [ ]:
# check if one is greater or equal:
print(a >= b)		# False

---

### 1.09 Operators

Now that we are familiar with most basic data types python uses. Let's take a closer look at the operators python provides for manipulation of these basic data types.

---

#### 1.09.1 Arithmetic operators

Arithmetic operators are used for manipulation of numeral data

| Operator | Function | Example |
| --- | --- | --- |
| Basic operators: |
| `+` | Addition | `x + y` |
| `-` | Subtraction | `x - y` |
| `*` | Multiplication | `x * y` |
| `/` | Division | `x / y` |
| Othe operators: |
| `%` | Modulus | `x % y` |
| `**` | Exponentiation | `x ** y` |
| `//` | Floor Division | `x // y` |

---

#### 1.09.2 Assignment operators

Assignment operators are used to assign or update the assignment of a variable.

| Operator | Example | Equivalent |
| --- | --- | --- |
| Basic assignment: |
| `=` | `x = 10` | |
| Update assignment: |
| `+=` | `x += 10` | `x = x + 10` |
| `-=` | `x -= 10` | `x = x - 10` |
| `*=` | `x *= 10` | `x = x * 10` |
| `/=` | `x /= 10` | `x = x / 10` |

---

#### 1.09.3 Comparison operators

Comparison operators are used to check for equality and inequality of variables.

| Operator | Meaning | Example |
| --- | --- | --- |
| `==` | is equal? | `x == 10` |
| `!=` | is not equal? | `x != 10` |
| `>=` | is greater or equal? | `x >= 10` |
| `<=` | is lesser or equal? | `x <= 10` |
| `>` | is greater? | `x > 10` |
| `<` | is lesser? | `x < 10` |

---

#### 1.09.4 Logical operators

Logical operators are used for Boolean data manipulation. This is very helpful when creating a logical expression:

| Operator | Meaning | Example |
| --- | --- | --- |
| `and` | True if both are True | `x and y` |
| `or` | True if at least one is True | `x or y` |
| `not` | Reverse | `not x` |

---

#### 1.09.5 Other useful operators


| Operator | Meaning | Example |
| --- | --- | --- |
| `in` | Check if element is in a collection | `a in b` |
| `not in` | Check if element is not in a collection | `a not in b` |

---

### Other Data Types (collections)

Now that we are familiar with the basic data types and commonly used operators, let's have a closer look at more complex data types. These are commonly called data structures and are different ways to store a collection of simple data types at one place.

This table shows the main differences of four most important data structures used to store collection of items in python:

| Data structure | Syntax | Description |
| --- | --- | --- |
| list | `[item1, item2, ...]` | ordered, changeable, duplicates allowed |
| tuple | `(item1, item2, ...)` | ordered, unchangeable, duplicates allowed |
| set | `{item1, item2, ...}` | unordered, unindexed, changeable, no duplicates |
| dictionary | `{key1:item1, key2:item2, ...}` | unordered, indexed by key, changeable, no duplicate keys |

---

### 1.10 Lists

Lists are commonly used to store collection of items that we would like to be able to manipulate at a later point and that we have no specific structure for.

Take a look at the example bellow:

In [ ]:
# create a list

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist)

#### 1.10.1 Indexing lists

We've previously seen how indexing works on strings. We could apply the similar idea for indexing lists:

Take a look at the example bellow:

In [ ]:
# second item: (0: first)
print(thislist[1])

In [ ]:
# last item: (-1: last)
print(thislist[-1])

In [ ]:
# select a slice:
print(thislist[2:5])

In [ ]:
# select a slice:
print(thislist[2:])

In [ ]:
# select a slice:
print(thislist[:5])

In [ ]:
# select a slice:
print(thislist[:-2])

#### 1.10.2 Changing list values

Since lists are changeable data structure we can update it's content after the original assignment.

Take a look at the example bellow:

In [ ]:
# let's change the second item: (0: first)
thislist[1] = "blackcurrant"

print(thislist)

#### 1.10.3 Check if item is in list

Here's how you can check if something is inside the list:

In [ ]:
print("cherry" in thislist)		# True

In [ ]:
print("pear" in thislist)		# False

#### 1.10.4 Check how many items are in the list

Similar to strings you can use the `len()` function to check the size of the list:

In [ ]:
print(len(thislist))		# prints 7

#### 1.10.4 Adding an item to the list

You can use the `append()` function to add an item to the end of the list:

In [ ]:
thislist.append("grape")

print(thislist)

You can also add an element to a specific position using the `insert()` function:

In [ ]:
thislist.insert(1, "apricot")

print(thislist)

#### 1.10.5 Deleting list items

There are multiple ways that we could remove items from a list.

On option is to use the `remove()` function. **NOTE**: this function raises an error if the item is not in the list.

In [ ]:
thislist.remove("orange")		# removes only the first occurence, gives error if not existing

print(thislist)

`pop()` can be used to remove only the last item:

In [ ]:
thislist.pop()				# removes the last item

print(thislist)

`del` can be used to remove by index:

In [ ]:
del thislist[0]				# remove by index

print(thislist)

`clear()` can be used to remove all items from the list:

In [ ]:
thislist.clear()				# remove all items

print(thislist)

#### 1.10.6 Duplicating a list

You may think that just like simple data types, you can copy/duplicate a list using a simple assignment:

`list1 = list2`

But this is in fact **WRONG**. As this assignment will create a new variable that is refering to the original list and not a duplicate. So changing one, also changes the other.

You can use the `copy()` function for duplication of lists:

In [ ]:
# create a list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

mylist = thislist.copy()
print(mylist)				# mylist will be a copied replica.
							# (changing the copy will not change the original)

Another way to duplicate a list is to recast the original list:

In [ ]:
# recats to duplicate
mylist = list(thislist)

print(mylist)				# mylist will be a copied replica.
							# (changing the copy will not change the original) 
							# I'd recommend using the copy() function instead of recasting as it makes more sense

#### 1.10.7 Combining lists

You can combine the contents of two lists using the `+` operator:

In [ ]:
# join 2 lists: 
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

---

### 1.11 Tuples

Tuples are a less common variant of lists which act a little bit differntly. The main difference is that tuples are not changeable. So once defined, you cannot change them. The benefit is the tuples are hashable. Basically, they could be used as an index. (We'll get back to this when learning about dictionaries.)

Take a look at the examples bellow:

In [ ]:
thistuple = ("apple", "banana", "cherry")	# create a tuple

print(thistuple)

In [ ]:
print(thistuple[1]) 						# access element

In [ ]:
print("apple" in thistuple)					# Check if it contains an element

In [ ]:
len(thistuple)								# Check the size

In [ ]:
thistuple[3] = "orange"						# This will raise an error, tuples are unchangeable

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2					# joins tuples
print(tuple3)

Here are some helpful basic use cases for tuples:

In [ ]:
# multiple assignments
a, b = 3, 5

In [ ]:
# swap in one line
a, b = b, a

---

### 1.12 Sets

Sets serve a fundamentally different purpose in python. With sets, you can store a collection of items, that are changeable, unordered, and without duplicates.

Take a look at the examples bellow:

In [ ]:
thisset = set()									# create empty set

In [ ]:
thisset = {"apple", "banana", "cherry"}			# create a set with values

One of the benefits of sets compared to lists is that it is really efficient at checking if an item belongs to it or not.

So if your purpose for creating a collection is to later check if an item was added to the collection, you should use sets instead of lists.

In [ ]:
"banana" in thisset								# check for item (very efficient)

While sets share some functions with that of lists, they also have set specific functions:

In [ ]:
thisset.add("orange")							# add an item

In [ ]:
thisset.update(["orange", "mango", "grapes"])	# add multiple items

In [ ]:
len(thisset)									# get length

In [ ]:
thisset.remove("banana")						# remove an item (raises error if missing)

print(thisset)

In [ ]:
thisset.discard("banana")						# remove an item (no error if missing)

print(thisset)

In [ ]:
thisset.clear()									# remove all items

print(thisset)

In [ ]:
set1 = {'a', 'b', 'c'}
set2 = {'b', 'c', 'd'}

set3 = set1.union(set2)							# join/combine 2 sets

print(set3)

---

### 1.13 Dictionaries

Dictionary is another very useful python data structure to store collection of items. In a dictionary, every item saved is a combination of a key and a value. The key should be a hashable unique identifier (there are no duplicate keys in a dictionary). The value assigned to a key can be any python data type.

Take a look at the examples bellow:

In [ ]:
thisdict = {}								# create empty dictionary

In [ ]:
thisdict = {								# create a dictionary with key-value pairs
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
}

In [ ]:
x = thisdict["model"]						# access value of a key (error if missing)

print(x)

In [ ]:
x = thisdict.get("model")					# access value of a key (no error if missing, None instead)

print(x)

In [ ]:
x = thisdict.get("model", "unknown")		# return desired value if missing

print(x)

In [ ]:
thisdict["year"] = 2018						# update/change a value

print(thisdict)

You can use the `keys()` function to get a list of all keys in a dictionary:

In [ ]:
print(thisdict.keys())						# get a list of all keys

Similarly, you can use the `values()` function to get a list of values in a dictionary:

In [ ]:
print(thisdict.values())					# get a list of all values

In [ ]:
print("model" in thisdict)					# check if a key is existing

In [ ]:
print("Ford" in thisdict.values())			# check if a value is existing

In [ ]:
print(len(thisdict))						# get number of keys in a dictionary

In [ ]:
thisdict["color"] = "red"					# add an item

print(thisdict)

In [ ]:
del thisdict["model"]						# remove an item (error if missing key)

print(thisdict)

In [ ]:
thisdict.pop("model")						# remove a key

print(thisdict)

In [ ]:
thisdict.clear()							# remove all keys

print(thisdict)

In [ ]:
mydict = thisdict.copy()					# copy a replica

**Idea**: All these collections can be combined in whatever way you deem fit. For instance, you may want to have nested dictionaries (a dictionary inside another)!

Take a look at this example:

In [ ]:
# nested dictionaries:
myfamily = {
  "child1" : {"name" : "Emil", "year" : 2004},
  "child2" : {"name" : "Tobias", "year" : 2007},
  "child3" : {"name" : "Linus", "year" : 2011}
}

print(myfamily["child2"]["name"])

---

### Code execution

Python is an interpreter programming language. This basically means that python will not compile your code before execution. It will simply read the code line-by-line and does what your asking it to do:

<img src="../static/lines.png" alt="lines" style="width: 80px;"/>

Now, to make coding interesting, we need to find ways to introduce branches and different pathes to go.

**Note**: In python the indents are important. Python uses the indents to figure out how to handle branches in execution.

---

### 1.14 Conditional statements

A conditional statement is the simplest method to introduce an execution branch:

<img src="../static/if.png" alt="conditional" style="width: 400px;"/>

Python has three keywords that can be used and combined to produce conditional statement branching:

`if`, `elif`, and `else`

Here's the general syntax (pay attention to the indents):

```python
# if starts a conditional statement
if condition:
    indented lines to go through

# elif can be used for chained conditions (optional)
elif other_condition:
    indented lines to go through

# else can be used to explain what to do if none of the previous conditions were True (optional)
else:
    indented lines to go through
```

Have a look at the examples below on how to use conditional statements:

In [ ]:
# How to use conditionals:

a = 33
b = 200

if b > a:
    print("b is greater than a")

In [ ]:
# How to use conditionals:

a = 23
b = 23

if b > a:
    print("b is greater than a")

elif a == b:
    print("a and b are equal")

In [ ]:
# How to use conditionals:

a = 330
b = 200

if b > a:
    print("b is greater than a")

elif a == b:
    print("a and b are equal")

else:
    print("a is greater than b")

In [ ]:
# How to use conditionals:

a = 330
b = 200

if b > a:
    print("b is greater than a")

else:
    print("a is not smaller than b")

- one line conditional statements

Python provides the option to write one line conditional statements. If these are used properly in your code, you can save time in writing and also have a more readable script.

Take a look at the example below (note: one line conditionals is best used in moderation):

In [ ]:
print("A") if a > b else print("B")

In [ ]:
print("A") if a > b else print("=") if a == b else print("B")

- combining conditionals

You can use logical operators to combine multiple conditions in a conditional statement.

Take a look at the example below:

In [ ]:
# How to combine conditionals with logical operators

a = 10
b = 5
c = 20

In [ ]:
if a > b and c > a:
    print("Both conditions are True")

In [ ]:
if a > b or a > c:
    print("At least one of the conditions are True")

- nested conditionals

You may also use nested conditionals if you need further branching in your code:

In [ ]:
# nested conditionals:
x = 15

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

In [ ]:
# small note: use pass to avoid getting an error
if b > a:
    pass

---

### Loops

What if you wanted to run part of your code multiple times?

That's when the idea of loops comes in handy.

<img src="../static/loop.png" alt="loops" style="width: 400px;"/>

---

### 1.15 While loops

While loops will repeat execution of a list of statements until a condition is met:

There are three key terms used: `while`, `break`, and `continue`

Here's a sample code showing the syntax of a while loop:

```python
while condition:
    indented lines to execute
    continue  # (optional) if used, will skip execution of the rest of the lines
    break  # (optional) if used, will jump out of the loop
```

Take a look at the examples below:

In [ ]:
# simple while loop:

i = 1

while i < 6:
    print(i)
    i += 1

In [ ]:
# break statement is used to end the loop before meeting condition:

i = 1

while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

In [ ]:
# continue statement is used to skip the current iteration of the loop

i = 0

while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

---

### 1.16 For loops

In python, for loops are commonly used to iterate over an iterable class (list, dictionary, string, etc).

You could simply use for loops to run some commands for every element of the iterable class.

There are four key terms used in python for loops: `for`, `in`, `continue`, and `break`

Here's what the syntax looks like:

```python
for item in collection:
    indented lines to specify what to do
    continue  # (optional) if used, will skip execution of the rest of the indented lines
    break  # (optional) if used, will jump out of the loop
```

Take a look at the examples below:

In [ ]:
# iterate over a list with for loop

fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruits)

In [ ]:
# iterate over a string

for x in "banana":
    print(x)

In [ ]:
# loop through a dictionary

# create a dictionary with key-value pairs
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

# loop through all keys
for x in thisdict:
    print("{} is {}".format(x, thisdict[x]))

In [ ]:
# loop through a dictionary

# create a dictionary with key-value pairs
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

# loop through all key-value pairs
for x, y in thisdict.items():
    print("{} is {}".format(x, y))

In [ ]:
# break statement to break out of a loop

fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)
    if fruit == "banana":
        break

In [ ]:
# continue statement to skip over an iteration step

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

`range()` function can be used in combination with a for loop to iterate over a range of numbers:

In [ ]:
# range function to repeat something

for x in range(6):					# 0, 1, 2, 3, 4, 5
    print(x)

In [ ]:
# range function to repeat something

for x in range(2, 6):				# start from 2: 2, 3, 4, 5
    print(x)

In [ ]:
# range function to repeat something

for x in range(2, 30, 3):			# step size of 3: 2, 5, 8, ...
    print(x)

- nested for loops

similar to other python branching commands, for loops can also be nested in other branching structures:

In [ ]:
# nested for loops

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
    for y in fruits:
        print(x, y)

---

### 1.17 Functions

In python, a function (also called a method) is used to create a blackbox, which accepts some inputs and returns the required output.

To define a function, two terms are used: `def` and `return`

Here's what the syntax looks like:

```python
def function_name(inputs):
    indented lines to specify what to do
    return outputs # (optional) in case the function will return any outputs
```

Take a look at the examples below:

In [ ]:
# define a simple function

def my_function():
    print("Hello from a function")

In [ ]:
# call the function
my_function()

In [ ]:
# a function with one input argument/parameter

def my_function(fname):
    print("Hello, " + fname)

In [ ]:
my_function("Kevin")

In [ ]:
my_function("Joe")

In [ ]:
# a function with two input arguments/parameters

def my_function(fname, lname):
    print("Hello, {} {}".format(fname, lname))

In [ ]:
my_function("Jane", "Doe")

In [ ]:
# multiple inputs as a list

def my_function(*numbers):
    print("The smallest number is {}".format(min(numbers)))

In [ ]:
my_function(1, 2, 3)

In [ ]:
# inputs by keyword arguments

def my_function(a, b, c):
    print("a: {}, b: {}, c: {}".format(a, b, c))

In [ ]:
my_function(a = "Kevin", c = "Joe", b = "Nick")

In [ ]:
# arbitrary keyword arguments, used like a dictionary

def my_function(**person):
    print("The name is " + person.get("name", "unknown"))

In [ ]:
my_function(name = "John", age = 23)

In [ ]:
my_function(age = 23)

In [ ]:
# default parameter for a function

def my_function(city = "Melbourne"):
    print("I am in " + city)

In [ ]:
my_function("Perth")

In [ ]:
my_function()

In [ ]:
# function with a return value

def my_function(x):
    return (5 * x)

In [ ]:
a = my_function(5)

print(a)

In [ ]:
# recursion (calling a function within itself)

def countdown(x):
    if (x > 0):
        print(x)
        countdown(x-1)
    else:
        print('boom!')

In [ ]:
countdown(5)

---

### Get creative!

<img src="../static/lego.jpg" alt="lego" style="width: 1200px;"/>

## 02. Short Live Coding Challenge

---